<a href="https://colab.research.google.com/github/sanishchuk/pythonProject1/blob/master/%D0%90%D0%BD%D0%B8%D1%89%D1%83%D0%BA_SA_OOP_practice%26hw_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Числа

## Задача 1.
Дано двузначное число. Определить входит ли в него цифра 5.

Проверить вхождение элемента в последовательность можно с помошью оператора in
```
'a' in sequence
```

In [ ]:
a = input ()
'5' in a

15

True

## Задача 2.
Дано натуральное четырехзначное число. Выяснить, является ли оно палиндромом (читается одинаково слева направо и справа налево).

In [ ]:
a = input ()
lst = list (a)
print (lst)
if lst [0] == lst [3] and lst [1] == lst [2] : print ('da')
else : print ('net')

1246
['1', '2', '4', '6']
net

## Задача 3.
Определить, является ли шестизначное число "счастливым" (сумма первых трех цифр равна сумме последних трех цифр).

In [ ]:
string = input()
print (string)
a = string [0]
b = string [1]
c = string [2]
d = string [3]
e = string [4]
f = string [5]

if int(a) + int(b) + int (c) == int(d) + int(e) + int (f) : print ('da') 
else: print ('net')

321123
321123
da

# Строки

## Задача 1.
Напишите скрипт для вычисления длины введённой пользователем строки.

In [ ]:
a = input ()
len (a)

dfsdfsfd

8

## Задача 2.
Напишите скрипт, чтобы получить строку, состоящую из первых 2 и последних 2 символов введённой строки. 

Все вводимые строки должны быть длинной строго больше 4 символовю

```
Образец строки: 'world'
Ожидаемый результат: 'wold'
```

In [8]:
a = input ()
print(a[:2] + a[-2:])

654654
6554

## Задача 3.

Напишите скрипт, чтобы заменить все пробелы в веденной строке на знак нижнего подчеркивания "_".

```
Ввод: 'мама мыла раму'
Вывод: 'мама_мыла_раму'
```

In [ ]:
 a = input ()
 a.replace(' ','_')

в лесу родилась елочка

'в_лесу_родилась_елочка'

# Задача 4.
Напишите скрипт для удаления i-го символа индекса из непустой строки.

```
ввод: 'привет'
ввод: 'удаляемы символ: 4'
вывод: 'привт'
```

In [ ]:
a = input('ввод: ')

if len(a) == 0 : print ('пустая строка')
else: b = int(input('удаляемый символ: '))

aa = list (a)
aa[b] = ""
print("".join(aa))

ввод: 123123
удаляемый символ: 3
12323

# Задача 5

Напишите скрипт для создания строки HTML с тегами вокруг слов.

```
ввод: 'привет'
ввод: 'тег: i'
вывод: '<i>привет</i>'
```

In [ ]:
text = input("Введите текст: ")
tag = input("Введите тег: ")
print("<" + tag + ">" + text + "</" + tag + ">")

Введите текст: 123
Введите тег: *
<*>123</*>

# Списки

## Задача 1.
Найдите сумму списка из 20 элементов.

Список можно создать с помощью range

```
ввод: начало списка
ввод: конец списка
вывод: результат
```

In [ ]:
n = 1  
m = 20  

print(sum(range(n, m)))

190

## Задача 2.
Получите наибольшее и наименьшее число, среднее значение чисел из случайного списка со случайным количеством элементов

```
пример: [1, 2, -8, 0]
результат: 2 -8 -1.6
```

In [ ]:
a = [1, 4, 56, 23, 5, -1, 0]
print(max(a))
print(min(a))
print(sum(a)/len(a))

56
-1
12.571428571428571

## Задача 3.

Напишите скрипт, для удаления дубликатов из списка.

```
Ввод: [1, 1, 2, 3]
Вывод: [1, 2, 3]
```

In [ ]:
a = [1, 4, 4, 56, 23, 5, -1, 0]
b = set (a)
print (b)

{0, 1, 4, 5, 23, 56, -1}

# Задача 4.
Напишите скрипт для преобразования списка в строку.

```
ввод: ['a', 'b', 'c', 'd']
вывод: 'abcd'
```

In [ ]:
a = input ()
b = list(a)
print (b)
print("".join(b))

fdf sdf sd fs
['f', 'd', 'f', ' ', 's', 'd', 'f', ' ', 's', 'd', ' ', 'f', 's']
fdf sdf sd fs

# Задача 5

Напишите скрипт для удаления i-го элемента из списка.

```
ввод: ['h', 'e', 'l', 'l', 'o']
ввод: 1
вывод: ['h', 'l', 'l', 'o']
```

In [ ]:
b = list(input())
print (b)
c = int(input ())
b.pop (c)
print (b)

456
['4', '5', '6']
2
['4', '5']

# Кортежи

## Задача 1.
Выведите i-ый элемент кортежа

Кортеж можно создать с помощью range

```
ввод: начало кортежа
ввод: конец кортежа
ввод: элемент
вывод: результат
```

In [ ]:
a = 1
b = 10
c = tuple(range(a,b))
print (c)
i = 4
print(c[i])

(1, 2, 3, 4, 5, 6, 7, 8, 9)
5

## Задача 2.
Напишите скрипт для проверки наличия элемента в кортеже.

```
пример: [1, 2, -8, 0]
ввод: '2'
результат: False

пример: [1, 2, -8, 0]
ввод: 2
результат: True

```

## Задача 3.

Напишите скрипт, для поиска индекса первого вхождения элемента.

```
Ввод: (1, 1, 2, 3)
Ввод: 2
Вывод: 2
```

In [ ]:
a = (1,2,3,4,5)
print(a)
i = int(input())

b = a.index(i)
print(b)

(1, 2, 3, 4, 5)
4
3

# Задача 4.
Выведите содержимое кортежа в обратном порядке.

```
ввод: ('a', 'b', 'c', 'd')
вывод: ('d', 'c', 'b', 'a')
```

In [ ]:
aa = 'abcd'
a=tuple(aa)
print(a)
b=list(a)
print(b)
b.reverse()
print(b)
a=tuple(b)
print(a)

('a', 'b', 'c', 'd')
['a', 'b', 'c', 'd']
['d', 'c', 'b', 'a']
('d', 'c', 'b', 'a')

# Задача 5

Напишите скрипт для для печатания элемента с его типом данных.

Сделать пример для каждого изученного типа данных

```
ввод: ('h', 'e', 'l', 'l', 'o')
вывод: tuple ('h', 'e', 'l', 'l', 'o')

ввод: ['h', 'e', 'l', 'l', 'o']
вывод: list ['h', 'e', 'l', 'l', 'o']


```

In [ ]:
a = input()
print ('stroka: ', str(a), type(str(a)))
print ('spisok: ', list(a), type(list(a)))
print ('kortez: ', tuple(a), type(tuple(a)))

123456
stroka:  123456 <class 'str'>
spisok:  ['1', '2', '3', '4', '5', '6'] <class 'list'>
kortez:  ('1', '2', '3', '4', '5', '6') <class 'tuple'>

# Словари

## Задача 1.
Напишите скрипт для добавления ключа в словарь.

```
словарь: {1: 20, 3: 30}
ввод: ключ 
ввод: значение
вывод: {1: 20, 3: 30, ключ:значение}
```

In [ ]:
dict_ = {
    1: 20, 
    3: 30, 
}
print(dict_, type(dict_))
kluc = input ()
znac = input ()
dict_[kluc] = znac
print(dict_, type(dict_))

{1: 20, 3: 30} <class 'dict'>
22
33
{1: 20, 3: 30, '22': '33'} <class 'dict'>

## Задача 2.
Напишите скрипт для суммирования всех значений словаря.

```
пример: {'data1':123,'data2':-54,'data3':321}
результат: 390

```

In [ ]:
dict_ = {
    1: 20, 
    3: 30, 
    5: 44}
print(sum(list(dict_.values())))

94